
Programming-Assignment-2/.idea/workspace.xml
Programming-Assignment-2/cmake-build-debug/Testing/Temporary/LastTest.log
*.log
Programming-Assignment-2/cmake-build-debug/.ninja_deps
Programming-Assignment-2/cmake-build-debug/.ninja_deps
Programming-Assignment-2/cmake-build-debug/Programming_Assignment_2
Programming-Assignment-2/cmake-build-debug/Testing/Temporary/LastTest.log
/Programming-Assignment-2/cmake-build-debug/Testing/Temporary
*.log
/Programming-Assignment-2/cmake-build-debug/Testing
/Programming-Assignment-2/cmake-build-debug
Programming-Assignment-2/cmake-build-debug/Programming_Assignment_2
Programming-Assignment-2/cmake-build-debug/.ninja_log
Programming-Assignment-2/cmake-build-debug/.ninja_deps
Programming-Assignment-2/.idea/workspace.xml
/Programming-Assignment-2/.idea
/Programming-Assignment-2
